.Button {
  background-color: black;
  border: thin;
  border-radius: 5px;
  color: green;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}
